body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(217, 149, 143, 0.11),
      rgba(242, 206, 174, 0.162)
    ),
    url("./img/bg1.jpg");
  background-size: cover;
  font-family: "Kurale", sans-serif;
}


#wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }

  .wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    }

.container {
  height: 400px;
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: rgba(224, 247, 250, 0.106);
  backdrop-filter: blur(5px);
  border-radius: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: #ccc solid 1px;
}

.text {
  font-size: 60px;
  font-family: "Kurale", serif;
  color: #fff;
  margin-bottom: 20px;
}

#second {
  font-size: 84px;
  color: #bf8e7f;
  font-family: "Satisfy", cursive;
}

.btn {
  align-self: center;
  padding: 10px 20px;
  background-color: #d9958fec;
  font-family: "Kurale", serif;
  color: white;
  border: #97625d solid 1px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 26px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn:hover {
  background-color: #a25c56ec;
  color: white;
  border: #cabbb9ce solid 1px;
}

.style {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  padding: 2rem;
  line-height: 1.6;
  gap: 2px;
  background-color: rgba(242, 206, 174, 0.768);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  font-family: 'Exo';
  font-size: large;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(201, 166, 162, 0.318);
  border-radius: 6px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: 'Maitree';
  color: rgba(245, 242, 242, 0.6);
  backdrop-filter: blur(5px);
  border: none;
  width: 100%;
}

.input {
width:12ch;
max-width: 20ch;
margin-right: 5px;
margin-left: 5px;
border-radius: 5px;
background-color: rgba(255,255,255,0.5);
border: none;
text-align: center;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
font-family: 'Exo';
font-weight: bold;
font-style: italic;
color: #cc5d5d;
}

.pos {
  color:black;
  font-weight: bold;
  width:12ch;
  max-width: 20ch;
  text-align: center;
  font-family: 'Exo';
  font-style: italic;
}


input:focus {
  outline: #cc5d5d solid 1px;
  background-color: rgba(255, 255, 255, 0.3);}


 #welcome, #end {
  display: flex;
  justify-content: space-around;
  font-family: 'Kurale', serif;
  color:#845569;
  text-shadow: 2px 2px 4px #f0bfbb;
  font-size: 50px;
  font-style: italic;
 }

#end {
  color: #cc5d5d;
  text-shadow: 2px 2px 4px #47373e;
  font-size: 40px;
  margin-bottom: 4rem;
}

.containerAudio{
  position: absolute;
  left: 90%;
  display: flex;
  flex-direction: row;
  transform: translateY(-50%);
}
.control-button{
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px 20px;

  border: none;
  background-color: #a25c56ec;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;



}